.container-person {
    display: flex;
    justify-content: start;
    flex-direction: column;
    // margin-top: 30rpx;
    height:100vh;
    background-color: #fff;
    position: relative;

    &>view {
        display: flex;
        justify-content: space-around;
        height: 200rpx;
        align-items: center;
        border-bottom: 1px solid #ddd;
       
        view {
            &:first-child {
                width: 150rpx;
            }

            &:last-child {
                width: 400rpx;

                input {
                    width: 100%;
                    font-size: 26rpx;
                }

                image {
                    width: 80rpx;
                    height: 80rpx;
                    background-color: #d8d8d8;
                    border-radius: 50%;

                }
            }
        }
    }
    .function{
        height:400rpx;
        border-bottom:0px ;
        button{
            border-radius: 20rpx;
            background-color: #27ba9b;
            color: #fff;
            width:35%;
        }
    }

    .person-form {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0,.6);
        
        .From{
            height:50vh;
            width:100%;
            position: absolute;
            bottom: 0rpx;
            box-shadow: 0rpx 0rpx 10rpx;
            background-color: #fff;
        }
        .Form-item {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100rpx;
            align-items: center;
            border-bottom: 1px solid #ddd;
           &:last-child{
                height:250rpx;
                border-bottom: 0px;
            button{
                border-radius: 20rpx;
                background-color: #27ba9b;
                color: #fff;
                width:35%;
            }
           }
            view {
                &:first-child {
                    width: 200rpx;
                }
                &:last-child {
                    width: 400rpx;
                    input {
                        width: 100%;
                        font-size: 26rpx;
                    }
                }
            }

           
        }

    }
}