.container-detail {
    height: 96vh;
    width: 100%;
    background-color: #fff;
    margin-top: 4vh;

    &>view {
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        width: 100%;

        text {
            &:first-child {
                width: 30%;
            }

            &:last-child {
                width: 50%;
                font-size:28rpx;
            }
        }

        &:nth-child(4) {
            display: flex;
            flex-direction: column;
            height: auto;

            text {
                width: 100%;
                text-indent: 1.5em;
                height: 100rpx;
                line-height: 100rpx;
                // background-color: red;
            }

            .imgs-container {
                height: 320rpx;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;

                .imgs-item {
                    height: 200rpx;
                    width: 200rpx;
                    // background-color: red;
                    margin: 20rpx 20rpx;
                    border:1px solid;
                    image {
                        height: 200rpx;
                        width: 200rpx;
                    }
                }

            }
        }
        &:last-child{
            border-bottom: 0rpx;
        }
    }
}