/*左侧栏主盒子总体设置 */
.nav_left {
    position: absolute;
    top: 0rpx;
    left: 0rpx;
    width: 25%;
    height: 100%;
    background: #f5f5f5;
    // overflow-y: auto;

    /*左侧栏的每个item */
    .nav_left_items {
        height: 80rpx;
        width: 100%;
        border-left: 6rpx solid transparent;
        /* 每个item高40px*/
        padding: 12rpx 0;
        font-size: 28rpx;
        text-align: center;
        line-height: 80rpx;
        position: relative;

        /*左侧栏list的item被选中时*/
        &.active {
            background: #fff;
            color: #27ba9b;
            border-left: 6rpx solid #27ba9b
        }
    }

}

/* 右盒子 */
/* 右侧栏主盒子总体设置 */
.nav_right {
    position: fixed;
    top: 0rpx;
    right: 0rpx;
    width: 74%;
    height: 100%;
    padding: 20rpx;
    box-sizing: border-box;
    background: #fff;
    overflow-y: auto;

    /*右侧栏中的每个item */
    .nav_right_items {
        float: left;
        width: 100%;
        height: 240rpx;
        margin: 2rpx 0rpx;
        border-bottom: 2rpx solid #dedede;

        /*右侧栏中的每个item的图样式设置 */
        image {
            width: 40%;
            height: 200rpx;
            float: left;
            margin-top: 20rpx;
        }

        .content {
            height: 100%;
            width: 53%;
            float: left;
            font-size: 27rpx;
            margin-top: -20rpx;
            margin-left: 20rpx;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .names {
                display: block;
                // height: 25%;
                width: 100%;
                font-size: 27rpx;
                margin-top: 45rpx;
                line-height: 45rpx;
                font-weight: 700;
            }

            .newdegree {
                display: block;
                // height: 15%;
                width: 53%;
                font-size: 25rpx;
                margin-left: -4rpx;
                font-weight: 700;
            }

            .prices {
                display: block;
                // height: 15%;
                width: 53%;
                color: red;
                font: {
                    size:32rpx;
                    weight:700;
                }
            }

        }
    }
    .noGoods{
        height:90vh;
        line-height: 60vh;
        text-align: center;
        font: {
            size:34rpx;
            weight:500;
        }
    }

}

/* 隐藏滚动条 */
.nav_left::-webkit-scrollbar,
.nav_right::-webkit-scrollbar {
    display: none;
}