.container-campus {
    .campus-nav {
        height: 100rpx;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        position: fixed;
        z-index: 999;
        width: 100%;

        .campusnav {
            height: 45rpx;
            width: 140rpx;
            line-height: 45rpx;
            text-align: center;
            border-radius: 20rpx;
            margin-left: 19rpx;

            font: {
                size: 28rpx;
                weight: 700;
            }

            &.active {
                color: #27ba9b;
            }
        }
    }

    // 绀惧尯鍔ㄦ€佸睍绀哄尯
    .campus-view {
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 120rpx;
        // background-color: #fff;

        .goods-item {
            height: 250rpx;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;
            position: relative;

            .goods-information {
                width: 45%;
                height: 80%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &>view {
                    &:nth-child(1) {
                        display: flex;
                        justify-content: space-between;
                    }

                    &:nth-child(2) {
                        font-size: 22rpx;
                        margin-top: 70rpx;
                        margin-bottom: 10rpx;
                    }

                    &:nth-child(3) {
                        font-size: 22rpx;
                    }
                }
            }

            .status-tag{
                margin-top: 10rpx;
                font-size: 24rpx;
                color: #f59a23;
            }

            .status-tag.rejected{
                color: #f56c6c;
            }

            .goods-img {
                width: 30%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                image {
                    width: 200rpx;
                    height: 200rpx;
                }
            }

            button {
                position: absolute;
                background-color: #27ba9b;
                width: 200rpx;
                height: 50rpx;
                line-height: 20rpx;
                font-size: 24rpx;
                bottom: 0rpx;
                left: 0rpx;
            }

            .shopDown {
                position: absolute;
                width: 200rpx;
                height: 40rpx;
                line-height: 20rpx;
                font-size: 28rpx;
                bottom: 0rpx;
                left: 0rpx;
            }
        }

        .noPost {
            line-height: 800rpx;
        }
    }
}




