 // 搜索
 .container {
     display: flex;
     justify-content: start;
     flex-direction: column;
     align-items: center;

     .search {
         width: 100%;
         height: 130rpx;
         display: flex;
         align-items: center;
         justify-content: center;
         position: fixed;
         left: 0rpx;
         top: 0rpx;
         background-color: #fff;
         z-index: 999;

         .container_search {
             width: 95%;
             height: 80rpx;
             border-radius: 40rpx;
             background-color: rgb(221, 219, 219);
             display: flex;
             align-items: center;
             margin: 30rpx 0rpx;

             .search-icon {
                 background: url(../../images/icons/sousuo.png) no-repeat center/contain;
                 height: 50rpx;
                 width: 50rpx;
                 margin-left: 30rpx;
                 margin-right: 10rpx;
             }

             input {
                 width: 90%;
                 height: 80rpx;
                 outline: none;
                 border: 0rpx;
                 // background-color: hotpink;
                 border-radius: 0px 40rpx 40rpx 0px;
                 font-size: 26rpx;
             }
         }
     }

     // 搜索记录
     .search_history {
         height: auto;
         width: 100%;
         position: absolute;
         top: 150rpx;
         left: 0rpx;
         display: flex;
         align-items: center;
         justify-content: center;

         .search_history_content {
             width: 95%;
             display: flex;
             flex-direction: column;

             .serach_title {
                 display: flex;
                 justify-content: space-between;
                 height: 60rpx;
                 width: 96%;

                 view {
                     width: 300rpx;

                     &:first-child {
                         font-size: 30rpx;
                     }

                     &:last-child {
                         height: 35rpx;
                         width: 35rpx;

                         image {
                             width: 100%;
                             height: 100%;
                         }
                     }
                 }
             }

             .search_content {
                 display: flex;
                 justify-content: start;

                 .search_item {
                     height: 30rpx;
                     line-height: 30rpx;
                     padding: 0rpx 15rpx;
                     font-size: 22rpx;
                     border-radius: 20rpx;
                     text-align: center;
                     background-color: rgb(204, 201, 201);
                     margin: 10rpx 20rpx 10rpx 0rpx;
                 }
             }
         }
     }

     //商品展示区
     .goodsView {
         position: absolute;
         top: 100rpx;
         left: 0rpx;
         display: flex;
         width: 100%;
         flex-direction: column;
        // 根据商品条件查询
         .goods-title {
             height: 90rpx;
             line-height: 70rpx;
             width: 100%;
             margin-top: 30rpx;
             display: flex;
             background-color: #fff;
             box-shadow: 0prx 0rpx 0rpx 10rpx 10px;
             align-items: center;

             view {
                 height: 45rpx;
                 width: 140rpx;
                 line-height: 45rpx;
                 text-align: center;
                 border-radius: 20rpx;
                 margin-left: 19rpx;

                 &.active {
                     background-color: #27ba9b;
                 }
             }

             font: {
                 size: 25rpx;
                 weight: 500;
             }
         }
        // 查询的商品展示区
         .goodsShowView {
             display: flex;
             margin-top: 50rpx;
            //  height: 1000rpx;
             justify-content: start;

             background-color: #fff;
             flex-wrap: wrap;

             .goods-item {
                 width: 45%;
                 height: 450rpx;
                 margin: 1%;
                 box-sizing: border-box;
                 background-color: #fff;
                 border: 2rpx solid #ddd;
                 padding: 10rpx;
                 display: flex;
                 border-radius: 20rpx;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
                 margin: 30rpx 19rpx 0rpx;

                 .goods-img {
                     height: 180rpx;
                     width: 180rpx;
                 }

                 .goods-name {
                     height: 60rpx;
                     width: 90%;
                     margin:10rpx 0;
                     font: {
                        size: 32rpx;
                        weight: 700;
                     }
                    
                 }

                 .goods-description{
                    width:90%;
                    margin:10rpx 0;
                 }

                 .goods-price {
                     height: 40rpx;
                     width:90%;
                     margin-top:10rpx;
                     font-size: 32rpx;
                     color: red;

                 }

                 .goods-business {
                     display: flex;
                     justify-content: start;
                     align-items: center;
                     width: 100%;

                     view {
                         height: 60rpx;
                         width: 60rpx;
                         border-radius: 50%;
                         overflow: hidden;
                         margin-right: 15rpx;

                         image {
                             height: 60rpx;
                             width: 60rpx;

                         }
                     }

                     text {
                         font-size: 20rpx;
                     }
                 }
             }
         }
     }
 }