.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;

    // 搜索
    .container_search {
        width: 95%;
        height: 80rpx;
        border-radius: 40rpx;
        background-color: rgb(221, 219, 219);
        display: flex;
        align-items: center;
        margin: 30rpx 0rpx;


        .search-icon {
            background: url(../../images/icons/sousuo.png) no-repeat center/contain;
            height: 50rpx;
            width: 50rpx;
            margin-left: 30rpx;
            margin-right: 10rpx;
        }

        input {
            width: 90%;
            height: 80rpx;
            outline: none;
            border: 0rpx;
            // background-color: hotpink;
            border-radius: 0px 40rpx 40rpx 0px;
            font-size: 26rpx;
        }
    }

    // 九宫格
    .main {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 95%;
        margin: 30rpx 0rpx;
        background-color: #fff;
        border-radius: 20rpx;

        .container1 {
            height: 180rpx;
            width: 26%;
            // border: 1px solid black;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10rpx 0rpx;
        }

        image {
            height: 120rpx;
            width: 120rpx;
            // border-radius: 20rpx;
        }

        text {
            height: 40rpx;
            font-size: 26rpx;
            // background-color: #a5fdaa;
        }
    }

    //轮播图
    .repeat-play {
        height: 300rpx;
        width: 95%;
        border-radius: 20rpx;
        overflow: hidden;

        .itme {
            width: 100%;
            height: 300rpx;
        }
    }

    // 群体分区
    .people {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300rpx;
        // background-color: red;
        width: 100%;

        view {
            width: 46%;
            height: 280rpx;
            box-shadow: 4rpx 4rpx 20rpx rgb(0, 0, 0, .2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            .people-item {
                height: 280rpx;
                width: 100%;
                border-radius: 10rpx;
            }

            text {
                text-align: center;
            }
        }
    }

    // 商品列表
    .goods {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // justify-content: space-evenly;

        .goods-title {
            height: 70rpx;
            line-height: 70rpx;
            width: 95%;
            margin-top: 30rpx;
            text-indent: 0.5em;
            font: {
                size: 40rpx;
                weight: 700;
            }
        }


        .goods-item {
            width: 45%;
            margin: 1%;
            box-sizing: border-box;
            background-color: #fff;
            border: 2rpx solid #ddd;
            padding: 20rpx;
            display: flex;
            border-radius: 20rpx;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left:23rpx;

            .goods-img {
                height: 200rpx;
                width: 200rpx;
            }

            .goods-name {
                height: 30px;
                width: 100%;
                font-size: 28rpx;
            }

            .goods-price {
                height: 30px;
                width: 100%;
                font-size: 28rpx;
                color: red;
            }

            .goods-business {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;

                view {
                    height: 60rpx;
                    width: 60rpx;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 15rpx;

                    image {
                        height: 60rpx;
                        width: 60rpx;

                    }
                }

                text {
                    font-size: 20rpx;
                }
            }
        }
    }

    // 到底提示
    .touchBottom {
        height: 80rpx;
        line-height: 80rpx;
        font-size: 24rpx;
    }

    /* 客服 电话 */
    .kefu {
        height:90rpx;
        width:90rpx;
        border-radius:45rpx;
        position: fixed;
        bottom: 560rpx;
        right: 30rpx;
        overflow: hidden;
        .row{
            height: 90rpx;
            width: 90rpx;
            border:0rpx;
            outline:none;
            position: relative;
            image {
                height: 85rpx;
                width: 85rpx;
                position: absolute;
                top:0rpx;
                left:0rpx;
            }
        }
        
    }

    .telphone {
        height:90rpx;
        width:90rpx;
        border-radius:45rpx;
        position: fixed;
        bottom: 440rpx;
        right: 30rpx;
        image {
            height: 90rpx;
            width: 90rpx;
        }
    }
}

.repeat-image {
    width: 100%;
}