.container-campus {
    .campus-nav {
        height: 100rpx;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        position: fixed;
        width: 100%;

        .campusnav {
            height: 45rpx;
            width: 140rpx;
            line-height: 45rpx;
            text-align: center;
            border-radius: 20rpx;
            margin-left: 19rpx;

            font: {
                size: 28rpx;
                weight: 700;
            }

            &.active {
                color: #27ba9b;
            }
        }
    }

    // 社区动态展示区
    .campus-view {
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 120rpx;
        background-color: #fff;

        .goods-item {
            height: 250rpx;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;

            .goods-information {
                width: 45%;
                height: 80%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &>view {
                    &:nth-child(1) {
                        display: flex;
                        justify-content: space-between;
                    }

                    &:nth-child(2) {
                        font-size: 22rpx;
                        margin-top:70rpx;
                        margin-bottom:10rpx;
                    }
                    &:nth-child(3) {
                        font-size: 22rpx;
                    }
                }
            }

            .goods-img {
                width: 30%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                image {
                    width: 200rpx;
                    height: 200rpx;
                }
            }
        }
    }
}